* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #333;
    color: #eee;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

header {
    width: 100%;
    padding: .75em;
    text-align: center;
    background: royalblue;
    color: #fff;
    box-shadow: 0 3px 5px #000;
    margin-bottom: 3rem;
}

h3.subtitle {
    color: #ddd;
}

table {
    margin: 1rem;
    padding: 2rem 3rem;
    background-color: #222;
}
    thead th {
        padding: .75rem 1rem;
        background-color: cornflowerblue;
        color: #111;
        font-size: 1.25rem;
        letter-spacing: 3px;
    }
    tbody td {
        padding: 1rem 1.5rem .5rem;
    }
        tbody tr:nth-child(2n) {
            background-color: #333;
        }

button {
    min-width: 4rem;
    margin: .25rem;
    padding: .5rem 1rem;
    border-radius: .25rem;
    outline: none;
    border: none;
    background-color: royalblue;
    color: #eee;
    font-family: sans-serif;
    box-shadow: 2px 3px 5px #111;
    font-size: 1.25rem;
    cursor: pointer;
    transition: all .3s;
}
    button:hover {
        filter: brightness(90%);
    }
    button:active {
        transform: scale(.95);
    }